h1, h2 {
    color: #EFC318;
}

p {
    font-size: large;
}

.about-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about-info {
    background-color: #383838;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../media/Minders_Brain.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.about-text {
    display: flex;
    flex-direction: column;
}