.title {
    color: var(--minders-yellow);
    text-align: center;
}

.about-section {
    background-color: var(--minders-white);
}

.about-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img {
    height: 350px;
    background-image: url("../media/IMG_20221019_003152_856.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.see-more-btn {
    background-color: var(--minders-yellow);
    border: 3px black solid;
    width: fit-content;
}

.see-more-btn:hover {
    background-color: var(--minders-black);
    color: white;
}

.latest-events{
    position: relative;
}

.events-slider-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
}

.events-slider-container::-webkit-scrollbar{
    visibility: hidden;
}

.arrow-container{
    position: absolute;
    z-index: 999;
    cursor: pointer;
    width: 50px;
    top: calc(55% - 15px);
    transform: translateY(-50%);
}

.right-arrow{
    right: 4.5%;
}

.left-arrow{
    left: 6%;
}

.arrow-container span{
    color: var(--minders-yellow);
    font-size: 3.5rem;
    font-weight: bold;
}

.event-card{
    min-width: clamp(200px, 25vw, 300px);
    background-color: white;
    position: relative;
    border: 3px solid black;
    border-radius: 15px;
    height: fit-content;
    margin-right: 40px;
}

.event-card:last-child{
    margin-right: 0px;
}

.event-img{
    width: 100%;
    height: fit-content;
    background-size: cover;
    border-radius: 10px;
}

.event-title{
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 3px solid black;
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
    font-size: 1.35rem;
    border-radius: 0 0 10px 10px;
}

.status-tag{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    top: 12px;
    right: 12px;
}

.finished{
    background-color: var(--finished-light);
    border: 2px solid var(--finished-dark);
}

.ongoing{
    background-color: var(--ongoing-light);
    border: 2px solid var(--ongoing-dark);
}

.to-be-done{
    background-color: var(--to-be-done-light);
    border: 2px solid var(--to-be-done-dark);
}

.finished span{
    background-color: var(--finished-dark);
}

.ongoing span{
    background-color: var(--ongoing-dark);
}

.to-be-done span{
    background-color: var(--to-be-done-dark);
}

.status-name{
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    margin: 0 3px;
    height: 1.25em;
}

.status-circle{
    margin: 0 3px;
    height: 15px;
    width: 15px;
    background-color: var(--finished-dark);
    border-radius: 50%;
}

.events-see-more-btn {
    background-color: var(--minders-yellow);
    border: 3px black solid;
    width: fit-content;
}

.events-see-more-btn:hover {
    background-color: var(--minders-white);
}

.structure-img-container {
    background-color: var(--minders-white);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.structure-img {
    height: 40vw;
    margin: 3%;
    background-image: url("../media/Structure.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--minders-white);
}

.slider-container {
    height: fit-content;
    display: grid;
    place-items: center;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(18 * 250px);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    margin: 15px;
}

.slide-img {
    width: 100%;
    transition: transform 1s;
}

.slide-img:hover {
    transform: translateZ(20px);
}

.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(25,25,25,1), rgba(25,25,25,0));
    content: '';
    height: 100%;
    position: absolute;
    width: 7%;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.magazine-container {
    background-color: var(--minders-white);
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    width: 25% !important;
}

.card-body-container {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .about-info {
        flex-direction: column;
    }

    .about-text {
        align-items: center;
        padding: 0px !important;
    }

    .status-tag{
        padding: 3px;
    }
    
    .status-name{
        display: none;
    }

    .magazine-container {
        flex-direction: column;
    }

    .card-container {
        width: 90% !important;
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .card-img-container {
        width: 50%;
    }

    .card-body-container {
        text-align: start;
    }
}