.about-section {
    background-color: #F1F1F1;
}

.about-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img {
    height: 350px;
    background-image: url("../media/IMG_20221019_003152_856.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.see-more-btn {
    background-color: #EFC318;
    border: 3px black solid;
    width: fit-content;
}

.see-more-btn:hover {
    background-color: #252525;
    color: white;
}

.events-section {
    height: 100px;
}

.title {
    color: #EFC318;
}

.structure-img-container {
    background-color: #F1F1F1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.structure-img {
    height: 40vw;
    margin: 3%;
    background-image: url("../media/Structure.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F1F1F1;
}

.slider-container {
    height: fit-content;
    display: grid;
    place-items: center;
    /* background-color: white; */
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 80%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(18 * 250px);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    margin: 15px;
}

.slide-img {
    width: 100%;
    transition: transform 1s;
}

.slide-img:hover {
    transform: translateZ(20px);
}

.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(25,25,25,1), rgba(25,25,25,0));
    content: '';
    height: 100%;
    position: absolute;
    width: 7%;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

@media screen and (max-width: 600px) {
    .about-info {
        flex-direction: column;
    }

    .about-text {
        align-items: center;
        padding: 0px !important;
    }
}