.article-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--minders-black);
    padding: 30px;
}

.article-img {
    width: 100%;
    background-image: url('../media/Horizontal\ White.png');
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.title {
    font-size: 54px;
}

.article-title {
    color: var(--minders-yellow);
}

.featured-title {
    color: var(--minders-black);
}

.text {
    color: white;
}

.article-text {
    padding: 20px 30px 20px 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.article-writer {
    margin-left: auto;
    font-size: x-large;
}

.featured-articles {
    background-color: var(--minders-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    width: 20% !important;
}

.card-body-container {
    text-align: center;
    background-color: black;
    color: var(--minders-yellow);
    height: fit-content;
    border-radius: 0px 0px 5px 5px;
}

@media screen and (max-width: 600px) {
    .card-wrapper {
        flex-direction: column;
    }

    .card-container {
        width: 70% !important;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .card-img-container {
        width: 60%;
        align-self: center;
    }
}