* {
    background-color: var(--minders-black);
}

.homepage-btn {
    background-color: var(--minders-yellow);
    color: black;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    margin: 50px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.homepage-btn:hover {
    background-color: var(--minders-white);
}

.arrow {
    background-image: url('../media/left-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 25px;
}

.check-icon {
    height: 250px;
    width: 250px;
    background-image: url('../media/check-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}

.title {
    color: var(--minders-yellow);
    font-size: 62px;
}

.message {
    font-size: x-large;
    text-align: center;
}

.follow-us-container {
    display: flex;
    justify-content: space-around;
}

.social-media-icon {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-container {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook-icon {
    background-image: url("../media/facebook-7-512.png");
}

.instagram-icon {
    background-image: url("../media/new-Instagram-logo-white-glyph-1200x1199.png");
}

.twitter-icon {
    background-image: url("../media/twitter-512.png");
}

.tiktok-icon {
    background-image: url("../media/tiktok-512.png");
}

.linkedin-icon {
    background-image: url("../media/linkedin-3-512.png");
}