/****************************contact_section*****************************************/
.section_1_contact{
    padding: 70px 0 70px 0;
}

.section_1_contact h2{
    color: #EFC318;
    font-size: 60px;
    font-weight: 800;
}

.section_31_contact .col-lg-8{
    margin-top: 5%;
}

.section_1_contact .col-lg-4 h2{
    color: #EFC318;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
}

.section_1_contact .col-lg-4 .follwing_box{
    padding: 40px 20px 40px 20px;
    margin-left: auto;
    background: #3838385E;
    width: 75%;
}

.section_1_contact .format .submit{
    padding: 18px 60px;
    background: black;
    border: 1px solid black;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.section_1_contact .format .username{
    width: 48%;
    height: 50px; 
    margin-bottom: 4%; 
    font-size: 15px; 
    border-radius: 5px; 
    border: 2px solid #dadcdd;
    border-radius: 20px;
}

.section_1_contact .format .email{
    width: 48%;
    height: 50px; 
    margin-bottom: 4%; 
    font-size: 15px; 
    margin-left: 25px; 
    border-radius: 5px; 
    border: 2px solid #dadcdd;
    border-radius: 20px;
}

.section_1_contact .format .subject{
    width: 100%;
    height: 50px; 
    margin-top: 1%; 
    margin-bottom: 4%; 
    font-size: 15px; 
    border-radius: 5px; 
    border: 2px solid #dadcdd;
    border-radius: 20px;
}

.section_1_contact .format .box{
    width: 100%;
    margin-top: 3%; 
    margin-bottom: 4%; 
    font-size: 15px; 
    border-radius: 5px; 
    border: 2px solid #dadcdd;
    border-radius: 20px;
}

.section_1_contact .format .submit:hover{
    background: #EFC318;
    border: 1px solid #EFC318;
    color: rgb(0, 0, 0);
}

.section_1_contact .col-lg-4 .media{
    margin-bottom: 20px;
}

.section_1_contact .col-lg-4 .media i{
    color: #FFFFFF;
    font-size: 27px;
}

.section_1_contact .col-lg-4 .media h5 a{
    text-decoration: none;
    color: #FFFFFF;
}

ul li{
    list-style: none;
    margin-bottom: 10px;
}

.section_1_contact .col-lg-4 .media h5 a:hover{
    color: #ffe8c3;
}
/**************responsive_contact*******************/
@media(max-width:700px){
    .section_1_contact .format .username{
        width: 100%;
    }
    
    .section_1_contact .format .email{
        width: 100%;
        margin-left: 0px; 
    }

    .section_1_contact .col-lg-4 .follwing_box{
        margin-top: 40px;
        margin-left: 0px;
        width: 100%;
    }
}
/****************End_responsive*********************/