.main-section {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#events-title {
  margin-top: 2rem;
  color: var(--minders-yellow);
  font-size: clamp(6rem, 6vw + 1rem, 8rem);
  display: flex;
  justify-content: center;
}

.year {
  font-size: clamp(5rem, 5vw + 1rem, 6rem);
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.year-events {
  margin: auto;
  padding: 1.5rem;
  width: max(85%, 365px);
  background-color: var(--minders-white);
  border-radius: 25px;
}

.event-cards-container {
  padding: 3rem 0;
  display: flex;
  gap: 1.5rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.event-card {
  width: clamp(250px, 24vw, 335px);
  height: clamp(250px, 24vw, 335px);
  background-color: white;
  position: relative;
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.event-img-container{
  height: 90%;
  display: flex;
  align-items: center;
  background: var(--minders-white);
}

.event-img {
  width: 100%;
  background-size: cover;
  /* border-radius: 10px; */
}


.event-title {
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 3px solid black;
  border-radius: 0 0 10px 10px;
}

.event-title button{
  color: black;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 1.35rem;
  background-color: transparent;
  border: none;
}

.event-title button:hover{
  text-decoration: underline;
}

.event-status{
  background-color: white;
  width: 100%;
  padding: 7px;
  border-bottom: 4px solid black;
  display: flex;
  justify-content: end;
}

.status-tag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  border-radius: 6px;
  top: 12px;
  right: 12px;
}

.finished {
  background-color: var(--finished-light);
  border: 2px solid var(--finished-dark);
}

.finished span {
  background-color: var(--finished-dark);
}

.ongoing {
  background-color: var(--ongoing-light);
  border: 2px solid var(--ongoing-dark);
}

.ongoing span {
  background-color: var(--ongoing-dark);
}

.upcoming {
  background-color: var(--upcoming-light);
  border: 2px solid var(--upcoming-dark);
}

.upcoming span {
  background-color: var(--upcoming-dark);
}

.sold-out {
  background-color: var(--sold-out-light);
  border: 2px solid var(--sold-out-dark);
}

.sold-out span {
  background-color: var(--sold-out-dark);
}

.postponed {
  background-color: var(--postponed-light);
  border: 2px solid var(--postponed-dark);
}

.postponed span {
  background-color: var(--postponed-dark);
}

.status-name {
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  margin: 0 3px;
  height: 1.25em;
}

.status-circle {
  margin: 0 3px;
  height: 15px;
  width: 15px;
  background-color: var(--finished-dark);
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .status-tag {
    padding: 3px;
  }
  .status-name {
    display: none;
  }
}
