@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #252525;
}

.footer-list-title, .nav-link, h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    background-color: black !important;
    position: relative;
    top: 0;
}

.navbar-nav {
    display: flex;
    justify-content: space-around !important;
    width: 100%;
    height: 50px;
}

.navbar-logo {
    width: 70px;
}

.navbar-logo-container {
    background-color: black;
    border-radius: 100%;
    transform: translateY(6px);
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.nav-link:hover {
    color: #EFC318;
}

footer {
    background-color: black;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer-logo {
    width: 150px;
}

.footer-list-title {
    color: #EFC318;
    font-size: x-large;

}

.footer-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.footer-list-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow-us-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 250px;
}

.social-media-icon {
    width: 30px;
}

.icon-container {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook-icon {
    background-image: url("../media/facebook-7-512.png");
}

.instagram-icon {
    background-image: url("../media/new-Instagram-logo-white-glyph-1200x1199.png");
}

.twitter-icon {
    background-image: url("../media/twitter-512.png");
}

.tiktok-icon {
    background-image: url("../media/tiktok-512.png");
}

.linkedin-icon {
    background-image: url("../media/linkedin-3-512.png");
}
/*****************************Event_list_page*************************************/
.section_1_Events{
    margin: 20px 0px 40px 0px;
}

.season{
    margin: 20px 0px 40px 0px;
}

.section_1_Events .season .season_text{
    padding: 40px 0px 5px 0px;
}

.section_1_Events .text_head{
    text-align: center;
    color: #EFC318;
    font-size: 120px;
    font-weight: 800;
}

.section_1_Events .text_head h2{
    font-size: 60px;
    font-weight: 800;
}

.section_1_Events .container{
    background-color: #F1F1F1;
    margin: auto;
}

.section_1_Events .container .card{
    margin: 20px ;
}