.event-section {
  width: 100%;
}


.event-details-card {
  width: 90%;
  background-color: white;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 2rem;
}

.event-container{
  display: flex;
  gap: 2rem;
}

.event-details{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.event-header {
  font-size: clamp(3rem, 4vw, 5rem);
  margin: 0;
}

.left-half {
  width: 60%;
}

.event-cover {
  width: 100%;
}

.event-cover img {
  width: 100%;
}

.event-date {
  color: grey;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.event-location {
  color: grey;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.right-half{
  position: relative;
  width: 40%;
  max-height: 26.5vw;
  overflow-y: auto;
}

.event-description-header{
  font-size: clamp(2rem, 3vw, 3.5rem);
}

.event-agenda img{
  width: 100%;
}

.details-status-tag{
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 800px) {
  .event-details-card{
    padding: 1rem;
  }
  .event-container{
    flex-direction: column;
  }
  .left-half {
    width: 100%;
  }
  .right-half {
    width: 100%;
  }
  .right-half{
    max-height: fit-content;
  }

  .status-tag{
    top: 0;
    right: 0;
  }
}

.latest-events-header {
  color: var(--minders-yellow);
  font-family: "Bebas Neue", cursive;
  font-size: clamp(4rem, 10vw + 1rem, 7rem);
}

/* .events-slider-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth;
}

.events-slider-container::-webkit-scrollbar {
  visibility: hidden;
}

.arrow-container {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  top: calc(60% - 15px);
  transform: translateY(-50%);
} */

.latest-events {
  position: relative;
  margin: 3rem 0;
}

/* .right-arrow {
  right: 4.5%;
}

.left-arrow {
  left: 6%;
}

.arrow-container span {
  color: var(--minders-yellow);
  font-size: 3.5rem;
  font-weight: bold;
}

.event-card {
  min-width: clamp(200px, 25vw, 300px);
  background-color: white;
  position: relative;
  border: 3px solid black;
  border-radius: 15px;
  height: fit-content;
  margin-right: 40px;
}

.event-card:last-child {
  margin-right: 0px;
}

.event-img {
  width: 100%;
  height: fit-content;
  background-size: cover;
  border-radius: 10px;
}

.event-title {
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 3px solid black;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
  font-size: 1.35rem;
  border-radius: 0 0 10px 10px;
}

.status-tag {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  align-items: center;
  width: fit-content;
  border-radius: 6px;
  top: 12px;
  right: 12px;
}

.finished {
  background-color: var(--finished-light);
  border: 2px solid var(--finished-dark);
}

.ongoing {
  background-color: var(--ongoing-light);
  border: 2px solid var(--ongoing-dark);
}

.to-be-done {
  background-color: var(--to-be-done-light);
  border: 2px solid var(--to-be-done-dark);
}

.finished span {
  background-color: var(--finished-dark);
}

.ongoing span {
  background-color: var(--ongoing-dark);
}

.to-be-done span {
  background-color: var(--to-be-done-dark);
}

.status-name {
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  margin: 0 3px;
  height: 1.25em;
}

.status-circle {
  margin: 0 3px;
  height: 15px;
  width: 15px;
  background-color: var(--finished-dark);
  border-radius: 50%;
} */

/* .see-more-btn {
  background-color: var(--minders-yellow);
  border: 3px black solid;
  width: fit-content;
}

.see-more-btn:hover {
  background-color: var(--minders-white);
} */

@media screen and (max-width: 800px) {
  .status-tag {
    padding: 3px;
  }
  .status-name {
    display: none;
  }

  .event-details-card{
    padding: 1rem;
  }

  .top-half, .bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .event-cover, .event-agenda, .speaker-cards-container, .speakers {
    width: 100%;
  }
}
