@import "./status-tag.css";

.events-slider-container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 2rem;
  align-items: center;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth;
  flex-shrink: 0;
}

.events-slider-container::-webkit-scrollbar {
  visibility: hidden;
}

.arrow-container {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  top: calc(55% - 15px);
  transform: translateY(-50%);
}

.right-arrow {
  right: 4.5%;
}

.left-arrow {
  left: 6%;
}

.arrow-container span {
  color: var(--minders-yellow);
  font-size: 3.5rem;
  font-weight: bold;
}

.event-card {
  display: flex;
  flex-direction: column;
  min-width: clamp(250px, 24vw, 335px);
  max-width: clamp(250px, 24vw, 335px);
  height: clamp(250px, 24vw, 335px);
  background-color: white;
  position: relative;
  /* border: 3px solid black; */
  border: none;
  border-radius: 15px;
  overflow: hidden;

}


.event-img-container {
  height: 100%;
  display: flex;
  align-items: center;
  background: white;
  overflow: hidden;
}

.event-img {

  background-repeat: no-repeat;
  height: 100%;
  background-size: 100% 100%;
}

.event-card-link{
  height: 100%;
  color: black;
  text-decoration: none;
  
}
.event-title {
  /* background-color: white; */
  width: 100%;
  padding: 4px;
  text-shadow: 5px 5px 6px  rgba(0, 0, 0, 0.27);
  /* border-top: 3px solid black; */
  text-align: center;
  border: none;
  border-radius: 0 0 10px 10px;
}

.event-title .event-link {
  color: black;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 1.35rem;
  background-color: transparent;
  border: none;
}
.event-title .event-link:hover {
  text-decoration: underline;
}

.event-status {
  background-color: white;
  width: 100%;
  padding: 7px;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: end;
}

.see-more-btn {
    background-color: var(--minders-yellow);
    border: 3px black solid;
    width: fit-content;
}

.see-more-btn:hover {
    border: 3px solid var(--minders-yellow);
    background-color: transparent;
    color: var(--minders-yellow);
}

.link {
    text-decoration: none;
    color: inherit;
}
