.title {
  color: var(--minders-yellow);
  text-align: center;
}

.about-section {
  background-color: var(--minders-white);
}

.about-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-img {
  height: 350px;
  background-image: url("../media/minders23crew.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.see-more-btn {
  background-color: var(--minders-yellow);
  border: 3px black solid;
  width: fit-content;
}

.see-more-btn:hover {
  background-color: var(--minders-black);
  color: white;
}

.link {
  text-decoration: none;
  color: inherit;
}

.latest-events {
  position: relative;
}

.structure-img-container {
  background-color: var(--minders-white);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.structure-img {
  height: 40vw;
  margin: 3%;
  background-image: url("../media/minders25highboard.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--minders-white);
}

.magazine-container {
  background-color: var(--minders-white);
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-container {
  width: 25% !important;
}

.card-body-container {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .about-info {
    flex-direction: column;
  }

  .about-text {
    align-items: center;
    padding: 0px !important;
  }

  .magazine-container {
    flex-direction: column;
  }

  .card-container {
    width: 90% !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .card-img-container {
    width: 50%;
  }

  .card-body-container {
    text-align: start;
  }
}

/* ---------------------- countdown ---------------------- */

.countdown {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin: 20px;
}

.time-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1rem 1.5rem;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-box .number {
  font-family: "Bebas Neue";
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.time-box .label {
  font-family: "Bebas Neue";
  font-size: 1rem;
  color: #555;
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  .time-box {
    width: 60px;
  }
}

/*-------------------------Hiring---------------------- */
.Hiring-cont {
  background-color: #ffc33f;

  .Hiring {
    background-color: #ffc33f;
    height: 95vh;
    background-image: url("../media/Looking.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 29px 0 43px;

    .Hiring-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .join-us-btn {
        background-color: white;
        border-radius: 10px;
        font-size: 20px;
        box-shadow: 0 15px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);

        a {
          font-family: "Bebas Neue";
        }

        &:hover {
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1),
            0 1px 3px rgba(0, 0, 0, 0.06);
        }
      }
    }
  }
}
