@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --minders-yellow: #efc318;
  --minders-black: #252525;
  --minders-white: #f1f1f1;

  /* EVENT STATUS TAGS */
  --finished-dark: #2c3bbe;
  --finished-light: #a0aaff;
  --ongoing-dark: #05ff00;
  --ongoing-light: #b2ffa6;
  --upcoming-dark: #fff500;
  --upcoming-light: #fdff8a;
  --sold-out-dark: #ff0000;
  --sold-out-light: #ffa6a6;
  --postponed-dark: #575857;
  --postponed-light: #b2b5b2;
}
.footer-list-title {
  font-family: "Bebas Neue", cursive;
}

footer {
  h1 {
    font-size: 48px;
  }
  h1,
  h2 {
    font-family: "Bebas Neue", cursive;
  }

  font-family: "Roboto", sans-serif;
  background-color: black;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  width: 150px;
}

.footer-title {
  color: var(--minders-yellow);
  font-size: x-large;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.footer-link:hover {
  color: var(--minders-yellow);
  text-decoration: none;
}

.footer-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-follow-section {
  text-align: center;
}

.follow-us-container {
  display: flex;
  justify-content: space-around;
}

.social-media-icon {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.social-media-icon:hover {
  color: var(--minders-yellow);
}

.icon-container {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-follow-section .icon-container:hover,
.navbar-logo:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(21%) saturate(2209%)
    hue-rotate(345deg) brightness(97%) contrast(94%);
}

.facebook-icon {
  background-image: url("../media/facebook-7-512.png");
}

.instagram-icon {
  background-image: url("../media/new-Instagram-logo-white-glyph-1200x1199.png");
}

.twitter-icon {
  background-image: url("../media/twitter-512.png");
}

.tiktok-icon {
  background-image: url("../media/tiktok-512.png");
}

.linkedin-icon {
  background-image: url("../media/linkedin-3-512.png");
}

.email-icon {
  background-image: url("../media/email-icon.svg");
}

.active {
  color: var(--minders-yellow);
}

.disabled-link,
.disabled-link:hover {
  color: gray;
  user-select: none;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-follow-section,
  .footer-about-section,
  .footer-projects-section {
    width: 150px;
    text-align: center;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
