@import './global.css';

.section {
    justify-content: center;
    height: 100vh;
    gap: 10px;
}

.message-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-code {
    font-size: 72px;
    color: var(--minders-yellow);
    text-align: center;
}

.error-img {
    width: clamp(200px, 30%, 350px);
    /* margin-bottom: 35px; */
    /* margin-top: 35px; */
}

.error-message {
    color: var(--minders-yellow);
    font-size: clamp(32px, 5vw, 52px);
    letter-spacing: 1px;
    text-align: center;
} 

.message {
    color: var(--minders-white);
    font-size: clamp(22px, 3vw, 32px);
    text-align: center;
}

.follow-us-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 15px;
}

.social-media-icon:hover {
    color: var(--minders-yellow);
}

.icon-container {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-container:hover {
    filter: brightness(0) saturate(100%) invert(89%) sepia(21%) saturate(2209%) hue-rotate(345deg) brightness(97%) contrast(94%);
}

.facebook-icon {
    background-image: url("../media/facebook-7-512.png");
}

.instagram-icon {
    background-image: url("../media/new-Instagram-logo-white-glyph-1200x1199.png");
}

.twitter-icon {
    background-image: url("../media/twitter-512.png");
}

.tiktok-icon {
    background-image: url("../media/tiktok-512.png");
}

.linkedin-icon {
    background-image: url("../media/linkedin-3-512.png");
}

.homepage-btn {
    background-color: var(--minders-yellow);
    color: black;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    /* margin-top: 5px; */
    border: 0;
    border-radius: 10px;
    padding: 5px;
}

.homepage-btn:hover {
    background-color: var(--minders-white);
}

.homepage-btn-link, .homepage-btn-link:hover {
    text-decoration: none;
    color: inherit;
}

.arrow {
    background-image: url('../media/left-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    height: 18px;
    width: 18px;
    margin-right: 5px;
}