@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --minders-yellow: #EFC318;
    --minders-black: #252525;
    --minders-white: #F1F1F1;
    --finished-dark: #FF0000;
    --finished-light: #FFA6A6;
    --ongoing-dark: #05FF00;
    --ongoing-light: #B2FFA6;
    --to-be-done-dark: #FFF500;
    --to-be-done-light: #FDFF8A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--minders-black);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list-title, .navbar-link, h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    background-color: black !important;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 60px;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 45px;
    list-style-type: none;
}

.navbar-list-item{
    text-align: center;
    width: 75px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.navbar-link:hover {
    color: var(--minders-yellow);
}

.navbar-logo {
    width: 90px;
}

.navbar-logo-container {
    background-color: black;
    border-radius: 100%;
    transform: translateY(25px);
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-list-mobile {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mobile-menu {
    background-color: black;
    text-align: center;
    visibility: hidden;
    width: 100%;
}

.hamburger-icon-container {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hamburger-icon-list {
    display: none;
    width: 40px;
    height: 40px;
}

.hamburger-icon-button {
    background-color: black;
    border: 0;
}

footer {
    background-color: black;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.footer-logo {
    width: 150px;
}

.footer-title {
    color: var(--minders-yellow);
    font-size: x-large;

}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.footer-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-follow-section {
    text-align: center;
}

.follow-us-container {
    display: flex;
    justify-content: space-around;
}

.social-media-icon {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-container {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook-icon {
    background-image: url("../media/facebook-7-512.png");
}

.instagram-icon {
    background-image: url("../media/new-Instagram-logo-white-glyph-1200x1199.png");
}

.twitter-icon {
    background-image: url("../media/twitter-512.png");
}

.tiktok-icon {
    background-image: url("../media/tiktok-512.png");
}

.linkedin-icon {
    background-image: url("../media/linkedin-3-512.png");
}

.hamburger-icon {
    background-image: url("../media/icons8-menu-squared-100.png");
}

h1 {
    font-size: 48px;
}

@media screen and (max-width: 600px) {
    .hamburger-icon-list {
        display: inline;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .navbar-list-item {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-follow-section, .footer-about-section, .footer-projects-section {
        width: 150px;
        text-align: center;    
    }
}